<!--The content below is only a placeholder and can be replaced.-->
<div class="nav-container" [class.nav-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="nav-toolbar mat-elevation-z2">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="nav-app-name">{{title}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="nav-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
          <mat-list-item role="listitem" routerLink="/addgame">Ajouter un jeu</mat-list-item>
          <mat-list-item role="listitem" routerLink="/bibliotheque">Ma Bibliothèque</mat-list-item>
          <mat-list-item role="listitem" routerLink="/store">Mon Magasin</mat-list-item>
          <mat-list-item role="listitem" routerLink="/myaccount">Mon Compte</mat-list-item>
          <mat-list-item role="listitem" routerLink="/search" [style.visibility]="mobileQuery.matches ? 'visible' : 'hidden'">Rechercher</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


