.img-home {
  background-image: url("../../assets/imgs/home.jpg");
  width: 100%;
  height: 25em;
}
.content {
  margin: 2rem 0;
}
// @media (min-width: 40em) {
// /* Probably some parent element that limits the img width */
//   main {
//     width: 80%;
//   }
// }
